data/WOA/*.nc
data/CMIP5/modeldiff/*.nc
data/CMIP5/projections/*.nc
results/*
data/IUCN/*
!data/IUCN/readme.md
graphs/*.ps
graphs/*.pdf
data/*tar.gz
graphs/archive/*
ferret/Archive/*
archive/
pyCode/Archive/*
sh/archive/*
RCode/archive
.Rapp.history
clean.sh
data/clean.sh
.DS_Store
